/* Colors from the palette */
:root {
    --background-color: #e7dfd5;
    --primary-color: #84a9ac;
    --secondary-color: #3b6978;
    --text-color: #204051;
    --button-color: #3b6978;
    --button-text-color: #ffffff;
    --table-header-color: #3b6978;
    --table-header-text-color: #ffffff;
}



body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    color: var(--text-color);
    font-size: 24px;
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-control {
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn-primary {
    background-color: var(--button-color);
    border: none;
    color: var(--button-text-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
}

thead {
    background-color: var(--table-header-color);
    color: var(--table-header-text-color);
}

button.btn-danger {
    background-color: #ff4d4d;
    border: none;
    color: var(--button-text-color);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button.btn-danger:hover {
    background-color: #ff1a1a;
}

button.btn-primary.btn-block {
    width: 100%;
    margin-bottom: 10px;
}
