body, html {
    background-image: url(assets/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
   
}

h1, p {
    text-align: center;
    color: white; 
    margin-top: 10px;
}

.form-container, .table-container {
    width: 80%; 
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.3); 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    backdrop-filter: blur(10px); /* glass effect */
}

.inputs {
    width: 100%; 
    margin-bottom: 30px;
}

#containerDiv {
    width: 100%;
    text-align: center;
}

th, td {
    background-color: rgba(80, 141, 78, 0.7); /* semi-transparent green */
    border-radius: 5px;
    padding: 10px;
}

th {
    background-color: rgba(26, 83, 25, 0.7); /* semi-transparent darker green */
}

td {
    background-color: rgba(80, 141, 78, 0.7); /* semi-transparent green */
    text-transform: capitalize;
}

button {
    border-radius: 5px;
    background-color: rgba(128, 175, 129, 0.7); /* semi-transparent */
    padding: 10px 20px;
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
}

table button {
    font-size: 14px;
    padding: 5px 5px;
}

button:hover {
    background-color: rgba(128, 175, 129, 1); /* More opaque on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}

footer {
    margin: 10px;
    color: black;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none; /* Standard property */
    width: 50%;
    height: 8px;
    background: rgb(80, 141, 78); /* Track color */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    margin-top: 10px;
}

input[type="text"], input[type="number"] {
    border-radius: 5px;
    background-color: rgba(128, 175, 129, 0.7);
    border: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; /* Standard property */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(26, 83, 25); /* Thumb color */
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(26, 83, 25); /* Thumb color */
    cursor: pointer;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.capitalize {
    text-transform: capitalize;
}
.album-cover{
    width:50px;
    height:50px;
}